# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
/static/
/media/

# Virtual Environment
venv/
env/

# IDE settings
.idea/
.vscode/

# Python
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
