{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Nueva Categoría{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>Crear Nueva Categoría</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}  <!-- Esto muestra el formulario de forma bonita -->
                <button type="submit" class="btn btn-primary mt-3">Crear</button>
                <a href="{% url 'post_list' %}" class="btn btn-secondary mt-3">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}
